.git
.github
.gitignore
.editorconfig
docker-compose.yml
node_modules
vendor
.env
.env*.local
storage/*.key
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
tests
phpunit.xml
.phpunit.result.cache
npm-debug.log
yarn-error.log
auth.json
